.main {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__title {
  margin-top: 45px;

  width: 95%;

  font-family: Handjet, sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.main__link {
  width: 100%;
  text-decoration: none;
}

.hr {
  background-image: url('../../assets/hr.svg');
  height: 1px;
  width: 70%;
  margin: 20px 0;
}

.main__info {
  font-family: Handjet;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;

  margin-bottom: 60px;
}

.main__btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  width: 100%;

  margin-bottom: 32px;
}

.button {
  width: 100%;
  height: 61px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;

  color: rgba(253, 253, 253, 1);

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 34px 22px;

  transition: transform 0.2s ease;
}

.button,
.button__title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.button_type_close {
  background-color: rgba(204, 93, 93, 1);
  width: 125px;
  margin-top: 80px;
}

.button_color_purple {
  background-color: rgba(169, 93, 204, 1);
}

.button_color_blue {
  background-color: rgba(93, 124, 204, 1);
}

.button_color_sand {
  background-color: rgba(204, 147, 93, 1);
}

.button_size_big {
  width: 100%;
  padding: 74px 0 41px;

  display: flex;
  align-items: center;
}

.button__icon {
  position: absolute;
  top: -18%;
  left: 33%;
}

.button__icon_type_wb {
  top: -19px;
  left: auto;
  right: -20px;
  width: 80px;
}
