.button_type_default {
  width: 80%;
  padding: 34px 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
}

.button_type_default .title {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
