.header {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 237px;
  height: 156px;
}

.header__title {
  font-family: Handjet, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}

.header__hr {
  margin: 50px 0 22px !important;
  width: 80% !important;
}

.header__info {
  font-family: Handjet;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;

  margin-bottom: 28px;
}
